<h1>API - Documentation</h1>

<nav class="api-navigation">
	<ul>
		<li><a href="#apikey">API-key</a></li>
		<li><a href="#auth">Authentication &amp; Authorization</a></li>
		<li><a href="#format">Format</a></li>
		<li><a href="#parameters">Parameters</a></li>
		<li><a href="#user">User</a></li>
		<li><a href="#resource">Resource</a></li>
		<li><a href="#licence">Licence</a></li>
		<li><a href="#resourcetype">Resourcetyoe</a></li>
	</ul>
</nav>
<div class="api-documents">
	<!-- Apikey -->
	<div class="document" id="apikey">
		<header class="document-header pad clearfix">
			<h2>API-key</h2>
		</header>
		
		<div class="information pad">
			<p>
				To be able to access the API you need to authenticate your application. This is done by passing
				an <code class="language-">X-Api-Token</code> header containing your API-key with each request.
			</p>

			<p>You can obtain an API-key by registering your application at 
			<a href=http://<%= request.host %>>http://<%= request.host %></a></p>

			<h3>X-Api-Token header example:</h3>
			<code class="language-">X-Api-Token: 28e370f09a61c17a9716</code>

			<p><strong>NOTE:</strong> The API-key used in this example won't work in real applications.</p>
		</div>
	</div>
	
	<!-- Auth -->
	<div class="document" id="auth">
		<header class="document-header pad clearfix">
			<h2>Authentication &amp; Authorization</h2>
		</header>
		
		<div class="information pad">
			<p>
				To be able to access unsafe methods such as POST, PUT and DELETE, you have to pass an <span class="language-">Authorization</span> header containing an access-token with your
				request.
			</p>
			
			<p>
				To obtain you acces-token you have to login by making a <code class="language-">POST</code> request 
				with your email and password to <code class="language-"><a href=http://<%= request.host %>/authenticate>http://<%= request.host %>/authenticate</a></p></code>
			</p>
			
			<p>
				For security reasons an access-token is only valid for 48 hours. Any unsafe request, (POST, PUT, DELETE) made after 48 hours will recieve 
				a 401 unauthorized status code and you'll have to authenticate again to obtain a new access-token.
			</p>

			<h3>Authorization header example:</h3>
			<code class="language-">Authorization: 28e370f09a61c17a9716</code>

			<p><strong>NOTE:</strong> The access-token used in this example won't work in real applications.</p>
		</div>
	</div>

	<!-- Format -->
	<div class="document" id="format">
		<header class="document-header pad clearfix">
			<h2>Format</h2>
		</header>
		<ul class="params">
			<li><code class="language-">.json</code> - Returns response in JSON.</li>
			<li><code class="language-">.xml</code> - Returns response in XML.</li>
		</ul>
		
		<div class="url pad">
			<h3>Example JSON:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/resources.json</code>

			<h3>Example XML:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/resources.xml</code>
		</div>
	</div>
	
	<!-- Parameters -->

	<div class="document" id="parameters">
		<header class="document-header pad clearfix">
			<h2>Parameters</h2>
		</header>
		<ul class="params">
			<li><code class="language-">limit</code> - An integer to limit the amount if items in a response. Default to 25.</li>
			<li><code class="language-">offset</code> - spcify the offset.</li>
		</ul>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/resources?limit=15&amp;offset=20</code>
		</div>
	</div>
	
	<!-- Resources -->

	<div class="document" id="resource">
		<header class="document-header clearfix pad">
			<span class="method method-get">GET</span>
			<h2 class="title">/resources</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/resources</code>
		</div>

		<div class="information pad">
			<p>Returns all resources. For preformence reasons the response is limited to 25 items. The limit can be overridden by passing
			a <code>limit</code> paramster. (See Parameters for more info)</p>

			<h4>Optional parameters:</h4>
			<ul class="params">
				<li><code class="language-">limit</code> - defaults to 25</li>
				<li><code class="language-">offset</code> - defaults to 0</li>
				<li><code class="language-">search</code> - search by resourcename</li>
			</ul>
		</div>
	</div>

	<div class="document">
		<header class="document-header clearfix pad">
			<span class="method method-get">GET</span>
			<h2 class="title">/resources/:resource_id</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/resources/165773993</code>
		</div>
		<div class="information pad">
			<p>Returns a resurce.</p>
		</div>
	</div>

	<!-- Users -->

	<div class="document" id="user">
		<header class="document-header clearfix pad">
			<span class="method method-get">GET</span>
			<h2 class="title">/users</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/users</code>
		</div>

		<div class="information pad">
			<p>Returns all users. For preformence reasons the response is limited to 25 items. The limit can be overridden by passing
			a <code>limit</code> paramster. (See Parameters for more info)</p>

			<h4>Optional parameters:</h4>
			<ul class="params">
				<li><code class="language-">limit</code> - defaults to 25</li>
				<li><code class="language-">offset</code> - defaults to 0</li>
			</ul>
		</div>
	</div>
	
	<div class="document">
		<header class="document-header clearfix pad">
			<span class="method method-get">GET</span>
			<h2 class="title">/users/:user_id</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/users/165773993</code>
		</div>
		<div class="information pad">
			<p>Returns a user.</p>
		</div>
	</div>
	
	<div class="document">
		<header class="document-header clearfix pad">
			<span class="method method-get">POST</span>
			<h2 class="title">/users</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/users</code>
		</div>
		<div class="information pad">
			<p>Create a new user.</p>
			
			<h3>Headers:</h3>
			<ul class="params">
				<li>string <code class="language-javascript">Authorization</code> required</li>
				<li>string <code class="language-javascript">X-Api-Token</code> required</li>
			</ul>

			<h3>Parameters:</h3>
			<ul class="params">
				<li>string <code class="language-javascript">firstname</code> required</li>
				<li>string <code class="language-javascript">surname</code> required</li>
				<li>string <code class="language-javascript">email</code> required</li>
			</ul>

			<div class="data-example">
				<h3>Example payload:</h3>
				<pre>
					<code class="language-javascript">
						{
							"firstname": "John",
							"surname": "Doe",
							"email": "john@doe.com",
						}
					</code>
				</pre>
			</div>
		</div>
	</div>

	<div class="document">
		<header class="document-header clearfix pad">
			<span class="method method-get">PUT</span>
			<h2 class="title">/users/:user_id</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/users/165773993</code>
		</div>
		<div class="information pad">
			<p>Update a user.</p>
			
			<h3>Headers:</h3>
			<ul class="params">
				<li>string <code class="language-javascript">Authorization</code> required</li>
				<li>string <code class="language-javascript">X-Api-Token</code> required</li>
			</ul>

			<h3>Parameters:</h3>
			<ul class="params">
				<li>string <code class="language-javascript">firstname</code> required</li>
				<li>string <code class="language-javascript">surname</code> required</li>
				<li>string <code class="language-javascript">email</code> required</li>
			</ul>

			<div class="data-example">
				<h3>Example payload:</h3>
				<pre>
					<code class="language-javascript">
						{
							"firstname": "John",
							"surname": "Doe",
							"email": "john@doe.com",
						}
					</code>
				</pre>
			</div>
		</div>
	</div>
	
	<div class="document">
		<header class="document-header clearfix pad">
			<span class="method method-get">DELETE</span>
			<h2 class="title">/users/:user_id</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/users/165773993</code>
		</div>
		<div class="information pad">
			<h3>Headers:</h3>
			<ul class="params">
				<li>string <code class="language-javascript">Authorization</code> required</li>
				<li>string <code class="language-javascript">X-Api-Token</code> required</li>
			</ul>

			<p>Delete a user.</p>
		</div>
	</div>

	<div class="document" id="user">
		<header class="document-header clearfix pad">
			<span class="method method-get">GET</span>
			<h2 class="title">/users/:user_id/resources</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/users/165773993/resources</code>
		</div>

		<div class="information pad">
			<p>Returns a users resources. For preformence reasons the response is limited to 25 items. The limit can be overridden by passing
			a <code>limit</code> paramster. (See Parameters for more info)</p>

			<h4>Optional parameters:</h4>
			<ul class="params">
				<li><code class="language-">limit</code></li>
				<li><code class="language-">offset</code></li>
			</ul>
		</div>
	</div>

	<div class="document">
		<header class="document-header clearfix pad">
			<span class="method method-get">GET</span>
			<h2 class="title">/users/:user_id/resources/:resource_id</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/users/165773993/resources/165773993466</code>
		</div>
		<div class="information pad">
			<p>Returns a specific users resource.</p>
		</div>
	</div>

	<div class="document">
		<header class="document-header clearfix pad">
			<span class="method method-get">POST</span>
			<h2 class="title">/users/:user_id/resources</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/users/165773993/resources</code>
		</div>
		<div class="information pad">
			<p>Creates a resource for specified user.</p>
			
			<h3>Headers:</h3>
			<ul class="params">
				<li>string <code class="language-javascript">Authorization</code> required</li>
				<li>string <code class="language-javascript">X-Api-Token</code> required</li>
			</ul>

			<h3>Parameters:</h3>
			<ul class="params">
				<li>string <code class="language-javascript">name</code> required</li>
				<li>string <code class="language-javascript">description</code> required</li>
				<li>string <code class="language-javascript">url</code> required</li>
				<li>string <code class="language-javascript">resource_type_id</code> required</li>
				<li>string <code class="language-javascript">licence_id</code> required</li>
				<li>array <code class="language-javascript">tags</code> optional</li>
			</ul>

			<div class="data-example">
				<h3>Example payload:</h3>
				<pre>
					<code class="language-javascript">
						{
							"name": "Resource name",
							"description": "Description",
							"url": "http://www.example.com",
							"resource_type_id": "40d96ce820d4036b157f7d7",
							"licence_id": "40d96ce820d4036b157f7d7",
							"tags": ["tag1", "tag2"]
						}
					</code>
				</pre>
			</div>
		</div>
	</div>

	<div class="document">
		<header class="document-header clearfix pad">
			<span class="method method-get">PUT</span>
			<h2 class="title">/users/:user_id/resources/:resource_id</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/users/165773993/resources/165773993</code>
		</div>
		<div class="information pad">
			<p>Update a resource for specified user.</p>
			
			<h3>Headers:</h3>
			<ul class="params">
				<li>string <code class="language-javascript">Authorization</code> required</li>
				<li>string <code class="language-javascript">X-Api-Token</code> required</li>
			</ul>

			<h3>Parameters:</h3>
			<ul class="params">
				<li>string <code class="language-javascript">name</code> required</li>
				<li>string <code class="language-javascript">description</code> required</li>
				<li>string <code class="language-javascript">url</code> required</li>
				<li>string <code class="language-javascript">resource_type_id</code> required</li>
				<li>string <code class="language-javascript">licence_id</code> required</li>
				<li>array <code class="language-javascript">tags</code> optional</li>
			</ul>

			<div class="data-example">
				<h3>Example payload:</h3>
				<pre>
					<code class="language-javascript">
						{
							"name": "Resource name",
							"description": "Description",
							"url": "http://www.example.com",
							"resource_type_id": "40d96ce820d4036b157f7d7",
							"licence_id": "40d96ce820d4036b157f7d7",
							"tags": ["tag1", "tag2"]
						}
					</code>
				</pre>
			</div>
		</div>
	</div>
	
	<div class="document">
		<header class="document-header clearfix pad">
			<span class="method method-get">DELETE</span>
			<h2 class="title">/users/:user_id/resources/:resource_id</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/users/165773993/resources/165773993466</code>
		</div>
		<div class="information pad">
			<h3>Headers:</h3>
			<ul class="params">
				<li>string <code class="language-javascript">Authorization</code> required</li>
				<li>string <code class="language-javascript">X-Api-Token</code> required</li>
			</ul>

			<p>Delete a specific users resource.</p>
		</div>
	</div>

	<!-- Licences -->

	<div class="document" id="licence">
		<header class="document-header clearfix pad">
			<span class="method method-get">GET</span>
			<h2 class="title">/licences</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/licences</code>
		</div>

		<div class="information pad">
			<h4>Optional parameters:</h4>
			<ul class="params">
				<li><code class="language-">limit</code> - defaults to 25</li>
				<li><code class="language-">offset</code> - defaults to 0</li>
			</ul>

			<p>Returns all licences. For preformence reasons the response is limited to 25 items. The limit can be overridden by passing a limit paramster. (See Parameters for more info)</p>
		</div>
	</div>

	<div class="document">
		<header class="document-header clearfix pad">
			<span class="method method-get">GET</span>
			<h2 class="title">/licences/:licence_id</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/licence/40d96c820d4036b1567f7d7</code>
		</div>
		<div class="information pad">
			<p>Returns a licence.</p>
		</div>
	</div>
	
	<div class="document">
		<header class="document-header clearfix pad">
			<span class="method method-get">GET</span>
			<h2 class="title">/licences/:licence_id/resources</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/licence/40d96c820d4036b1567f7d7/resources</code>
		</div>
		<div class="information pad">
			<p>Returns all resources by given licence.</p>
		</div>
	</div>

	<!-- Resourcetypes -->

	<div class="document" id="resourcetype">
		<header class="document-header clearfix pad">
			<span class="method method-get">GET</span>
			<h2 class="title">/resourcetypes</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/resourcetypes</code>
		</div>

		<div class="information pad">
			<h4>Optional parameters:</h4>
			<ul class="params">
				<li><code class="language-">limit</code> - defaults to 25</li>
				<li><code class="language-">offset</code> - defaults to 0</li>
			</ul>

			<p>Returns all resourcetypes. For preformence reasons the response is limited to 25 items. The limit can be overridden by passing a limit paramster. (See Parameters for more info)</p>
		</div>
	</div>

	<div class="document">
		<header class="document-header clearfix pad">
			<span class="method method-get">GET</span>
			<h2 class="title">/licences/:resource_type_id</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/resourcetypes/40d96c820d4036b1567f7d7</code>
		</div>
		<div class="information pad">
			<p>Returns a resourcetype.</p>
		</div>
	</div>
	
	<div class="document">
		<header class="document-header clearfix pad">
			<span class="method method-get">GET</span>
			<h2 class="title">/licences/:resource_type_id/resources</h2>
		</header>
		
		<div class="url pad">
			<h3>Example url:</h3>
			<code class="language-">http://<%= request.host %>/api/v1/resourcetypes/40d96c820d4036b1567f7d7/resources</code>
		</div>
		<div class="information pad">
			<p>Returns all resources by given resourcetype.</p>
		</div>
	</div>
	
</div>

<a class="to-top" href="#top">Top</a>