<a class="to-docs btn" href="/docs">API documentation</a>
<a class="to-docs btn" href="/admin">Admin panel</a>
<h1>Enter your email below to generate your API-key</h1>

<%= flash[:error] %>

<%= form_tag(generate_path, method: "POST") do %>
	<%= text_field_tag(:email, nil, placeholder: 'Email') %>
	<%= submit_tag("Generate key", :class => 'btn') %>
<% end -%>

<% if flash[:apiKey] %>
	<div class="key-container box">
		<h2 class="key-title">Here is your credentials for using the API:</h2>
		
		<span>Apikey:</span>
		<p><%= flash[:apiKey] %></p>
	</div>
<% end %>